version: "3.9"
services:
  app:
    container_name: portfolio
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    volumes:
      - ./settings.yaml:/app/settings.yaml
      - ./files:/app/files
    ports:
      - "8000:8000"