{{ define "title" }}Home{{ end }}
{{ define "content" }}

<section class="album">
{{ range .Photos }}
    <div class="album-photo">
        {{ if .PhotoInfo.Title }}
            <p class="album-photo-title">{{ .PhotoInfo.Title }}</p>
        {{ end }}
        <a href="photos/{{ .FullFileName }}">
            <img src="photo/{{ .SmallFileName }}" srcset="photo/{{ .MediumFileName }} {{ $.MediumSize }}w" {{ if .PhotoInfo.AltText }}alt="{{ .PhotoInfo.AltText }}"{{ end }} class="album-photo-image" />
        </a>
        {{ if .PhotoInfo.Description }}
            <p class="album-photo-description">{{ .PhotoInfo.Description }}</p>
        {{ end }}
    </div>
{{ end}}
</section>

{{ end }}