{{ define "title" }}Home{{ end }}
{{ define "content" }}

<section id="photos">
{{ range .Photos }}
    <div class="photo">
        {{ if .PhotoInfo.Title }}
            <p class="title">{{ .PhotoInfo.Title }}</p>
        {{ end }}
        <a href="photos/{{ .FullFileName }}">
            <img src="photo/{{ .SmallFileName }}" srcset="photo/{{ .MediumFileName }} {{ $.MediumSize }}w" {{ if .PhotoInfo.AltText }}alt="{{ .PhotoInfo.AltText }}"{{ end }} />
        </a>
        {{ if .PhotoInfo.Description }}
            <p class="description">{{ .PhotoInfo.Description }}</p>
        {{ end }}
    </div>
{{ end}}
</section>

{{ end }}