{{ define "base" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}: {{ template "title" . }}</title>
    <link rel="stylesheet" href="static/reset.css" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/custom.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/atom.xml" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom.xml" />
    <link rel="alternate" type="application/json" title="JSON feed" href="/feed.json" />
    {{ if and (ne .BaseURL "") (ne .Title "") (gt (len .Photos) 0) }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .BaseURL }}" />
    <meta property="og:image" content="{{ .BaseURL }}/photo/{{ (index .Photos 0).MediumFileName }}" />
    {{ end }}
</head>
<body>
    <div id="container">
        <nav>
            <h1 class="title"><a href="/">{{ .Title }}</a></h1>
            <div class="filler"></div>
             <a href="/about" class="about">About</a>
        </nav>
        
        {{ template "content" .}}
        
        <footer id="footer">
            Copyright &copy; {{ .Author }} {{ .Year }}
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.min.js"></script>
</body>
</html>
{{ end }}