// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf)
}

@import "reset.scss";

$dark-text-color: #b9b9b9;
$dark-background-color: #0a0a0a;
$dark-link-color: #2b87ab;
$dark-link-shadow-color: #3097c0aa;
$dark-header-background-color: #1f1f1f;
$dark-image-overlay-color: #000000cc;

$light-text-color: #1f1f1f;
$light-background-color: #fff;
$light-link-color: #257291;
$light-link-shadow-color: #1e526780;
$light-header-background-color: #cccccc;
$light-image-overlay-color: #ffffffcc;


$tiny-screen: 500px;

:root {
    --text-color: #{$dark-text-color};
    --background-color: #{$dark-background-color};
    --link-color: #{$dark-link-color};
    --link-shadow-color: #{$dark-link-shadow-color};
    --header-background-color: #{$dark-header-background-color};
    --image-overlay-color: #{$dark-image-overlay-color};
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #{$light-text-color};
        --background-color: #{$light-background-color};
        --link-color: #{$light-link-color};
        --link-shadow-color: #{$light-link-shadow-color};
        --header-background-color: #{$light-header-background-color};
        --image-overlay-color: #{$light-image-overlay-color};
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
    font-family: 'Montserrat', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5rem;
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        text-shadow: 0px 0px 5px var(--link-shadow-color);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Navigation
.navigation {
    display: flex;
    align-items: baseline;
    background: var(--header-background-color);
    padding: 2rem;
}

.page-title {
    font-size: 2.5rem;
    flex-grow: 1;
}

.navi-link {
    text-transform: uppercase;
}

// Album
.album {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.album-photo {
    height: 300px;
    position: relative;
    flex-grow: 1;

    &:hover {
        .album-photo-title, .album-photo-description {
            opacity: 100%;
        }

        .album-photo-image {
            filter: brightness(60%);
        }
    }
    
}

.album-photo-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: 0.5s;
}

.album-photo-title, .album-photo-description {
    position: absolute;
    padding: 0.5rem;
    background: var(--image-overlay-color);
    width: 100%;
    line-height: 1.5rem;
    opacity: 0%;
    transition: 0.5s;
}

.album-photo-title {
    top: 0;
    z-index: 1;
}

.album-photo-description {
    bottom: 0;
}

// Single photo
.single {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding: 1em 2em;
}

.single-photo {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0 0.5rem;
}

.single-photo-title {
    font-size: 2em;
    text-align: center;
}

.single-photo-image {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    max-height: 1000px;
    padding-top: 1rem;
    
}

.previous, .next {
    font-size: 3em;
    text-decoration: none;

    &.hidden {
        visibility: hidden;
    }
}

.single-photo-description {
    padding-top: 1em;
    text-align: center;
}

.about {
    font-size: 1.5rem;
    padding: 2rem;

    & p+p {
        padding-top: 1rem;
    }
}

// Footer
.footer {
    padding: 1em 2em;
    text-align: center;
}


@media only screen and (max-width: $tiny-screen) {
    .previous, .next {
        font-size: 2em;
    }
}